* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000;
  font-size: 30px;
  color: #fff;
  padding: 30px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.menu {
  background-color: lightgrey;
  color: #fff;
  padding: 10px 50px;
  float: left;
  width: 20%;
}

.parrafo {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 20px;
}
h2 {
  margin-bottom: 15px;
}
footer {
  background-color: gray;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}
